@import url('https://fonts.googleapis.com/css2?family=Gidugu&display=swap');

body,
html {
  position: relative;

  padding: 0;
  margin: 0;

  font-family: 'Gidugu', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  background-color: #111418;
}

button {
  background-color: #d4691f;
  color: #111418;
  font-size: 1rem;
  padding: 0 1em;
  border: none;
  border-radius: 1em;
  transition: 0.25s ease;

  font-family: 'Gidugu', sans-serif;
  font-style: normal;
}

button:hover {
  background-color: #a35219;
}

button:active {
  background-color: #864414;
}

.container-viewport {
  position: absolute;

  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
  border: 1px #e33a1e solid;

  background-image: url('assets/v-background.png');
  background-repeat: repeat;
  opacity: 0.25;
}

.container-dynamic-viewport {
  position: absolute;

  height: calc(100dvh - 2px);
  width: calc(100dvw - 2px);
  border: 1px #20b9bd dashed;

  background-image: url('assets/vd-background.png');
  background-repeat: repeat;
  opacity: 0.25;
}

.container-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh);
  width: calc(100vw);

  text-align: center;
}

.container-card {
  z-index: 100;
  background: #0c0f11;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.text-container {
  padding: 0px;
}

.text {
  color: #bec6d0;
  padding: 0;
}
.value {
  padding: 0;
  color: #d4691f;
  padding-inline: 1ch;
}

.value-v {
  color: #e33a1e;
}

.value-dv {
  color: #20b9bd;
}
